body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: auto;
  min-width: 400px;
  text-align: center;
}

.sidebar {
  position: fixed;
  height: auto;
  width: 200px;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  background-color: white;
  border-bottom: 2px whitesmoke solid;
  border-right: 2px solid whitesmoke;
}

.sidebar a {
  text-decoration: none;
  color: black;
  padding: 5px 10px 0px 15px;
  text-align: left;
  float: left;
}
.sidebar h5 {
  color: rgb(160, 156, 156);
  display: block;
  opacity: 0.8;
  text-align: left;
  padding: 0px 10px 5px 15px;
  clear: left;
}
.blockElement:hover {
  background-color: #ff4500;
}
.blockElement:hover a {
  color: whitesmoke;
}
.blockElement:hover h5 {
  color: whitesmoke;
}
.app {
  display: flex;
}
.main {
  margin-left: 220px;
  margin-top: 10px;
  padding: 0px;
  flex: 1;
  height: 100vh;
}
.hblock {
  display: flex;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
  width: 350px;
  height: auto;
  border: 2px solid transparent;
  justify-content: space-evenly;
  transition-duration: 0.2s;
}
.hblock img {
  width: 350px;
  height: 200px;
  margin-bottom: 3px;
}
.hblock h2 {
  text-align: left;
  margin: 1px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 15px;
  color: #3b3b3b;
}
.hblock h3 {
  text-align: left;
  font-weight: bold;
  margin: 0px;
  font-size: 13px;
  color: rgb(153, 148, 148);
}

.special {
  width: 300px;
  margin: 8px;
  margin-left: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(153, 148, 148);
}
.special button {
  display: flex;
  background-color: rgb(58, 219, 58);
  color: whitesmoke;
  margin-right: 3px;
}

.special h4 {
  font-weight: bold;
  margin: 0 3px;
}
.hblock:hover {
  border: 2px rgb(206, 197, 197) solid;
  transform: scale(1.06);
}

.category h1 {
  text-align: left;
}

.cblock {
  display: flex;
  flex-wrap: wrap;
}
.more {
  margin: 20px;
  align-items: center;
  border: solid 2px #e46b3f;
}
.more h4 {
  color: #cc5e36;
}
